/* Variables */
:root {
    --color-dark-blue: #272343;
    --color-white: #fff;
    --color-light-teal: #e3f6f5;
    --color-teal: #46b4b1; 
    --color-light-grey: #7c7c7c;

    --bp-small: 37.5em; /* 600px */
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 10/16 = 62.5. 1rem = 10px */
}

/* @media only screen and (max-width: 600px) {
    html {
        font-size: 50%;
    }
} */

body {
    background-color: var(--color-dark-blue);
    font-family: 'PT Mono', Arial, Helvetica, sans-serif;
}

